html {
    font-size: 62.5%;
}

@media screen and (max-width: 1366px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 670px) {
    html {
        font-size: 40%;
    }
}

body {
    background: #1B1464;
    overflow: hidden;
    color: white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.l-app {
    justify-content: center; 
    align-items: flex-start; 

    display: flex; 

    height: 100vh;
}

.l-canvas-container {
    position: relative;
}

.c-canvas {
    position: relative;
    z-index: 3;
    background: black;
    border: .2rem solid white;
    border-radius: .8rem;
}

.u-mar-bot-4 {
    margin-bottom: 4rem;
}

.c-space {
    padding: 2rem;
}

.c-title {
    font-size: 2.4rem;
    margin-bottom: .5rem;
}

.c-box-list .c-box {
    margin-bottom: 1.5rem;
}

.c-box-list .c-box:last-child {
    margin-bottom: 0;
}

.c-box {
    padding: 2rem;

    font-size: 2rem;

    border: 2px solid white;
    border-radius: .8rem;

    background: black;
}

.c-box--figure {
    align-items: center;
    justify-content: center;

    display: flex;

    width: 7.5rem;
    height: 7.5rem;
    padding: .5rem;
}

.c-box--figure img {
    width: auto;
    height: auto;
    max-width: 6rem;
    max-height: 6rem;
}

.c-pop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    display: none;

    font-size: 2rem;
}

.c-pop.is-active {
    display: block;
}









/********************
** OTHER *************************************/
.box-shadow {
    position: absolute;
    top: 5px;
    bottom: 15px;
    right: 5px;
    left: 5px;
    z-index: 0;

}
    
.box-shadow::after,
.box-shadow::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    background: 
    linear-gradient(45deg, #EA2027, #0652DD, #FDA7DF, #0652DD, #EA2027);
    background-size: 400%;   
    border-radius: .8rem;
    filter: blur(2rem);

    animation: anim 20s linear infinite;
    }
    
@keyframes anim {
    0% {background-position: 0 0;}
    50% {background-position: 100% 0;}
    100% {background-position: 0 0;}
}






